.fknav {
  background: #fff !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  // position: relative;
  // z-index: -3;
}

.login-container {
  overflow-x: hidden;
  margin: 0;
  min-height: 80vh;
}

.box-login {
  width: 420px;
  // margin-top: 100px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  // top: -50px;
}

.sign {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--main-color);
  }
}

.fokontany-color {
  color: #8c00ff !important;
}

.btn-fk-color {
  background: #8c00ff !important;
  color: #fff;
  height: 42px !important;
}

.btn-fk-color:hover {
  background: #000 !important;
  color: rgb(211, 207, 207);
}

.bg1,
.bg2,
.bg3 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg2 {
  background: #00a2ff;
  z-index: -1;
  clip-path: polygon(0 0, 14% 83%, 100% 100%, 0% 100%);
}

.bg3 {
  background: #ff6600;
  z-index: -1;
  clip-path: polygon(88% 85%, 100% 33%, 77% 74%, 0% 100%);
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
