@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --main-color: #8c00ff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ==== Material Input ====

.mat-focused .mat-form-field-label {
  color: var(--main-color) !important;
}

.mat-form-field-label,
.text-gray {
  color: #999999 !important;
}

.mat-form-field-underline {
  background-color: #ececec !important;
}

.mat-form-field-ripple {
  background-color: var(--main-color) !important;
}

.cdk-overlay-container {
  z-index: 1200 !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important; /*click effect color change*/
  background-color: var(--main-color) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--main-color) !important; /*inner circle color change*/
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--main-color) !important; /*outer ring color change*/
}

.cdk-overlay-container {
  z-index: 1200 !important;
}
.cdk-global-overlay-wrapper {
  z-index: 1000 !important;
}

.mat-form-field-ripple {
  background-color: var(--main-color) !important;
}

.mat-datepicker {
  color: var(--main-color) !important;
}
